# RoboCute intermediate files
.rbc/
*.rbcb.tmp
*.log

# resource file
*.7z
*.zip

# OS files
.DS_Store
Thumbs.db

# IDE files
.idea/
*.swp

# Large temporary files
*.tmp
*.cache
uv.lock
__pycache__
*.egg-info
.pytest_cache
.mypy_cache

# Local Sensible Files
.env

# Build Result File
release
*.exe
*.dll
*.lib
*.pyd
*.exp